
.alert {
	position:absolute;
	top:4;
    right:   0;

	width: 40%;
	padding: 50px;
	font-size:19px;
	text-align: center;
  }
  
  .alert.success {
	background-color: rgb(4, 72, 6);
	color: white;
  }
  
  .alert.error {
	background-color: #49100cc8;
	color: white;
  }
  
  .alert button {
	background-color:transparent;
	border: none;
	color: inherit;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 10px;
  }
